<div className="mt-5">
  <h1>Completed Bursts</h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Started At</th>
      <th scope="col">Completed At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @bursts.completed.each do |burst| %>
      <tr>
        <td><%=burst.started_at.strftime("%Y-%m-%d %I:%M%p")%></td>
        <td><%=burst.completed_at.strftime("%Y-%m-%d %I:%M%p")%></td>
        <td><%= link_to "View", burst %></td>
      </tr>
    <% end %>
  </tbody>
</table>
