// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.masthead {
    height: calc(100vh - 60px);
    min-height: 500px;
    background-image: url('https://images.unsplash.com/photo-1433439216031-9571132ce719?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1551&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron {
    background: rgba(0, 0, 0, 0.4);
}